* {
  margin: 0;
  padding: 0;
}
header {
  margin-top: 10px;
  text-align: center;
}
.conteudo {
  width: 1125px;
  margin: auto;
  padding: 25px 0;
}
footer {
  clear: both;
  color: #fff;
  background-color: #205ac4;
  padding: 10px 0 10px;
  letter-spacing: 1px;
}
footer p {
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
}
table {
  width: 550px;
  border-collapse: collapse;
  border: 2px solid #aaa;
  padding: 8px;
}
img {
  border: 2px solid #353434;
  border-radius: 5px;
}
